
.login-form {
   max-width: 540px;
   background: #ffffff;
   margin: 0 auto;
   position: relative;
   top: 70px;
   margin-bottom: 100px;
}
.form-group {
   margin-bottom: 20px;
}
.btnlogin {
   margin-top: 22px;
}
.group-from input {
   height: 50px;
}
.group-from {
   padding-left: 31px;
   padding-right: 31px;
}
.btnlogin button {
   width: 100%;
   height: 50px;
   font-size: 18px;
   text-transform: capitalize;
   margin-bottom: 51px;
}

.login-form h3 {
   padding: 30px 0 25px;
   font-size: 24px;
   font-weight: 700;
   margin-bottom: 0;
   color: black;
   text-align: center;
}
a.MuiTypography-root.Create-sec {
   color: #000000;
   font-weight: 600;
   text-decoration: none;
   cursor: pointer;
}
.line-sec {
   padding-top: 20px;
  
}
.group-from label {
   font-weight: bolder;
   font-size: 14px;
   margin-bottom: 10px;
   padding-top: 10px;
}

button.btn-block {
   background: blueviolet;
   border: none;
   height: 40px;
   margin-top: 30px;
   border-radius: 10px;
   color: #fff;
}