.MuiButtonBase-root.MuiAccordionSummary-root.dropdown-sec {
    background: #3f51b5;
}
svg.MuiSvgIcon-root.icon-sec {
    color: aliceblue;
}
svg.MuiSvgIcon-root.icondro {
    color: aliceblue;

}
label.label-sec {
    color: aliceblue;
}
span.MuiTypography-body1 {
    padding-left: 7px;
}